
.card{
    width: auto;
    height: auto;
    border:2px solid rgb(226, 224, 224);
    border-radius: 13px;
    display: flex;
    flex-direction: column;
}
.empContent{
    padding: 10px;
    flex: 70%;
}
.empContent img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.empContent p{
    text-align: center;
}
.title{
 font-size: 16px;
 font-weight: bold;
 color:rgba(25, 11, 184, 1);
}
.name{
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
}
.designation{
    font-size: 9px;
    color: rgb(74, 74, 74);
}
.cardImage{
    flex: 30%;
}
.cardImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* Responsive styles */

@media (max-width: 1030px) {
    .card{
        width: 40%;
        margin: auto;
    }
    .title {
        font-size: 12px;
    }

    .name {
        font-size: 8px;
    }

    .designation {
        font-size: 6px;
    }

    .empContent {
        padding: 7px;
    }
}

@media (max-width: 580px) {

.card{
    width: 50%;
    margin: auto;
}
    .title {
        font-size: 8px;
    }

    .name {
        font-size: 6px;
    }

    .designation {
        font-size: 5px;
    }
    .empContent {
        padding: 6px;
    }
}